body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 900;
}

/* The following CSS is all for the navebar/header and its contents */

nav {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 8.5rem;
  border-bottom: 3px solid #e9e9e9;
  padding-bottom: 2rem;
  margin-bottom: 5rem;

}

.logo {
  margin-right: 2rem;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 1.8rem;

}

nav a {

  color: rgb(141, 141, 141);
  text-decoration: none;
  padding-bottom: 45px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
color: rgb(0, 0, 0);
border-bottom: 4px solid hsl(26, 100%, 55%)
}


.icons {
  text-align: center;
  margin-left: 30rem;
}

.icons img {
  margin-left: 40px;
}

.cartIcon img:hover {
  filter: brightness(0);
}


.itemCount {
  position: absolute;
  top: 50px;
  right: 240px;
  font-size: 0.7rem;
  width: 20px;
  height: 15px;
  border-radius: 8px;
  color: white;
  background-color: hsl(26, 100%, 55%);
}


  .avatar {
      position: relative;
      top: 8px;
      width: 45px;
      height: 45px; 
      border-radius: 50%;
      transition: box-shadow 0.2s ease-in;
  }

  .avatar:hover {
    box-shadow: 0 0 0 2px hsl(26, 100%, 55%);
  }
  
  /* The following CSS is for the images in the ProductImage folder (main image and thumbnail) */

  .productImage {
    display: grid;
    justify-content: flex-start;
    margin-left: 11rem;
  }
  
  .mainImage {
    display: flex;
    justify-content: flex-start;
    width: 440px;
    height: 410px;
    border-radius: 12px;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
  }
  
  .thumbnailContainer {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.8rem;
    gap: 10px;
  }
  
  .thumbnail {
    
    width: 86px;
    height: 84px;
    margin: 10px;
    border-radius: 12px;
    transition: box-shadow 0.1s ease-in;
  }

  .thumbnail:hover {
    opacity: 0.6;
    scale: 0.95;
  }
  
  .selected {
      box-shadow: 0 0 0 3px hsl(26, 100%, 55% );
      opacity: 0.4 !important;
      scale: 1 !important;
  }

/* The following CSS is for the ProductInfo component */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productInfo {
  grid-column: 2;
  margin-top: 2rem;
  margin-left: 2rem;
  padding-right: 19rem;
}

.company {
  font-weight: 900;
  font-size: 0.7rem;
  color: hsl(26deg 100% 55%);
  letter-spacing: 1.6px;

}

.heading {
  font-size: 2.5rem;
  margin-top: 1.1rem;
  margin-bottom: 1.5rem;
}

.info {
  color: rgb(164, 164, 164);
  line-height: 25px;
  font-size: 0.9rem;
  font-weight: 600;
}

.price {
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 1.3rem;
}

.price span {
  position: relative;
  bottom: 4px;
  font-size: 0.8rem;
  color: hsl(26deg 100% 55%);
  background-color: hsl(25, 100%, 94%);
  padding: 3px 8px 3px 8px;
  margin-left: 10px;
  border-radius: 5px;
 }

 .oldPrice {
  position: relative;
  bottom: 18px;
  font-size: 0.8rem;
  color: rgb(164, 164, 164);
 }
.cartButtons {
  display: flex;
  align-items: center;
}

.minusPlus {
  position: relative;
  bottom: 3px;
  background-color:  hsl(223, 64%, 98%);
  border-radius: 5px;
  margin-top: 8px;
}

 .cartButtons img {
  transform: scale(0.8);
}

.cartButtons img:nth-of-type(1) {
  position: relative;
  bottom: 3px;
  padding-right: 40px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.cartButtons img:nth-of-type(2) {
  padding-left: 41px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.minus:hover {
filter: brightness(1.6);
}

.plus:hover {
  filter: brightness(1.6);
  }

.minusPlus span:nth-child(2) {
  position: absolute;
  bottom: 16px;
  font-size: 0.8rem;
}

.addToCartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-size: 0.8rem;
  height: 48px;
  width: 240px;
  border-radius: 7px;
  padding-top: 5px;
  background-color: hsl(26deg 100% 55%);
  box-shadow: 0px 20px 28px -16px hsl(26, 100%, 55%);
  color: white;
  border: none;
  cursor: pointer;
}

.addToCartButton:hover {
  opacity: 0.65;
}

.addToCartButton img{
  transform: scale(0.6);
  margin-right: -30px;
  margin-left: -18px;
  filter: brightness(2.5);
}

/* The following CSS is for the dropdown shopping cart menu */

.cartContainer {
  display:none;
  text-align: start;
  position: fixed;
  margin-top: 12px;
  right: 100px;
  width: 355px;
  height: 230px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 100px -50px hsl(0deg 0% 31%);
  border-radius: 13px;
  }

.cartIcon:hover + .cartContainer {
  display: block;
}

.cartContainer:hover {
  display: block;
}

.cartTitle {
  padding: 17px;
  border-bottom: 2px solid #e9e9e9;
}

.cartContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  }

.cartContent p {
  color: rgb(133, 132, 132);
}

.cartItem {
    padding: 10px;
  }

.shoeImage {
  position: absolute;
  left: -17px;
  top: 19px;
  height:50px;
  width: 50px;
  border-radius: 4px;
}
.checkoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  height: 48px;
  width: 310px;
  border-radius: 7px;
  padding-top: 5px;
  background-color: hsl(26deg 100% 55%);
  color: white;
  border: none;
  cursor: pointer;
}

.checkoutButton:hover {
  opacity: 0.65;
}
  
  .cartItem p {
    position: absolute;
    top: 10px;
    left: 90px;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 23px;
    color: rgb(133, 132, 132);
  }

  .cartItem span {
    color: black;
    font-size: 1rem;
    font-weight: 900;
  }

  .bin {
    position: absolute;
    right: 22px;
    top: 45px;
    cursor: pointer;
    padding: 10px;
  }

  .bin:hover {
    filter: brightness(0);
  }